.container {
    /* display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: auto; */
    background-color: #E0E6ED;
    height: 85vh;
}

.banner {
    border: 1px solid lightgray;
    background-color: white;
    margin-bottom: 50px;
}

.banner-txt {
    font-size: 1.3rem;
    margin: 30px 0;
font-weight: 600;


}

.banner-balance {
font-size: 3.5rem;
font-weight: bold;
margin: 0;
}

.banner-text {
font-weight: 600;
}
.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-accordion {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
font-weight: 600;


}

